<h1>Edit subject:<%= @subject.name %></h1>
<%= form_for(@subject) do |f| %>
<% if @subject.errors.any? %>
<ul>
<% @subject.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>
<div class="row">
<div class=""form_group">
  <%= f.label :name %>
  <br>
  <%= f.text_field :name, class: 'from-control' %>
</div>

<div class=""form_group">
  <%= f.label :position %>
  <br>
  <%= f.text_field :position,  class: 'from-control' %>
</div>
<div class=""form_group form-check">
  <%= f.check_box :visible,  class: 'from-control' %>
  <br>
  <%= f.label :visible, class: 'form-check-label' %>
</div>
<br>
<%= f.submit "save", class: 'btn btn-primary' %>
</div>
<% end %>
