<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCms</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>simple CMS Bluprint</h1>
    <%= yield %>
    <div class="body">
    <div class="row">
      <div class="col-sm-3" >
      <h4> subject one</h4>

      <font margin:20px;> <h4> page one</h4>

       <h4> pagr two</h4></font>

      <br>
      <br>
      <h4> subject two</h4>

      <h4> page three</h4>
      <h4> page four</h4>
      <h4> page five</h4>
      <h4> page six</h4>
      <br>
      <br>
      <h4> subject three</h4>

        <h4> page seven</h4>
          <h4> page eight</h4>
            <h4> page nine</h4>

      <br>
      <br>
      </div>
      <div class="col" >
      <h4> col2</h4>
      <h4> page three</h4>
      <br>\
      <br>
      <h4> section</h4>
      <p> dfghjkl;zjh salakjhgv nsvbdenzmfgthyuoz'9[p;9;p8skojihu6,ygtmbnusko9i7zytfnrdbfghuja7oknzsm]</p>
      <br>
      <br>
      <h4> section</h4>
      <p> dfghjkl;zjh salakjhgv nsvbdenzmfgthyuoz'9[p;9;p8skojihu6,ygtmbnusko9i7zytfnrdbfghuja7oknzsm]</p>
      <br>
      <br>
      <h4> section</h4>
      <p> dfghjkl;zjh salakjhgv nsvbdenzmfgthyuoz'9[p;9;p8skojihu6,ygtmbnusko9i7zytfnrdbfghuja7oknzsm]</p>
      <br>
      <br>
      </div>
    </div>
  </div>
  </body>
</html>
