<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCms</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>simple CMS Bluprint</h1>
    <%= yield %>
    <div class="body">
    <div class="row">
      <div class="col-sm-3" >
      <h4> subject one</h4>

       <h4>&nbsp;&nbsp;&nbsp;&nbsp; page one</h4>

       <h4>&nbsp;&nbsp;&nbsp;&nbsp; pagr two</h4></font>

      <br>
      <br>
      <h4> subject two</h4>

      <h4> &nbsp;&nbsp;&nbsp;&nbsp;page three</h4>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp; page four</h4>
      <h4>&nbsp;&nbsp;&nbsp; page five</h4>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp; page six</h4>
      <br>
      <br>
      <h4> subject three</h4>

        <h4> &nbsp;&nbsp;&nbsp;&nbsp;page seven</h4>
          <h4> &nbsp;&nbsp;&nbsp;&nbsp;page eight</h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp; page nine</h4>

      <br>
      <br>
      </div>
      <div class="col" >
      <h4> col2</h4>
      <h4> page three</h4>
      <br>
      <br>
      <h4> section</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
      <br>
      <br>
      <h4> section</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <br>
      <br>
      <h4> section</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
      <br>
      <br>
      </div>
    </div>
  </div>
  </body>
</html>
